    <!--Experts Section-->
     <!--Welcome Section-->
    <section class="welcome-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Column-->
                <div class="content-column col-md-7 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <!--Sec Title-->
                        <div class="sec-title">
                            <div class="title">what we do</div>
                            <h2>Welcome to Our <br> potters socity bank</h2>
                        </div>
                        <div class="text">We solve business problems, take a consultative approach to every client engagement, and find actionable solutions that will help your organization achive the best business outcomes, We know the importance of delivering the best customer experience and we enable your organization to exceed customer expectations,</div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="contact.html" class="theme-btn btn-style-four">Contact Us</a>
                            </div>
                            <div class="pull-right">
                                <div class="phone"><span class="icon fa fa-phone"></span> 0 800 666 33 77</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Image Column-->
                <div class="image-column col-md-5 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="images/resource/welcome.jpg" alt="" />
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image play-btn">
                                <span class="icon fa fa-play"></span>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Welcome Section-->
      <!--Services Section-->
    <section class="services-section">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <div class="title">What We Do For You</div>
                <h2>Save Your Money</h2>
            </div>
            <div class="row clearfix">
                
                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/pottery-service/saving.jpg" alt="" />
                            <div class="icon-box">
                                <span class="icon flaticon-employee"></span>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="overlay-icon">
                                            <span class="icon flaticon-employee"></span>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3><a href="services-single.html">SAVINGS ACCOUNT</a></h3>
                            <a href="services-single.html" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/pottery-service/saving.jpg" alt="" />
                            <div class="icon-box">
                                <span class="icon flaticon-money"></span>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="overlay-icon">
                                            <span class="icon flaticon-money"></span>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3><a href="services-single.html">CURRENT ACCOUNT</a></h3>
                            <a href="services-single.html" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/pottery-service/fixed.jpg" alt="" />
                            <div class="icon-box">
                                <span class="icon flaticon-diagram"></span>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="overlay-icon">
                                            <span class="icon flaticon-diagram"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3><a href="services-single.html">FIXED DEPOSITS</a></h3>
                            <a href="services-single.html" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/pottery-service/saving.jpg" alt="" />
                            <div class="icon-box">
                                <span class="icon flaticon-pen"></span>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="overlay-icon">
                                            <span class="icon flaticon-pen"></span>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3><a href="services-single.html">RECCURRING DEPOSITS</a></h3>
                            <a href="services-single.html" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/pottery-service/saving.jpg" alt="" />
                            <div class="icon-box">
                                <span class="icon flaticon-meeting"></span>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="overlay-icon">
                                            <span class="icon flaticon-meeting"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3><a href="services-single.html">COMPULSARY DEPOSIT</a></h3>
                            <a href="services-single.html" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                
                <!--Services Block Two-->
                <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/resource/service-7.jpg" alt="" />
                            <div class="icon-box">
                                <span class="icon flaticon-bank"></span>
                            </div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <div class="overlay-icon">
                                            <span class="icon flaticon-bank"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lower-box">
                            <h3><a href="services-single.html">DAILY DEPOSIT</a></h3>
                            <a href="services-single.html" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section-->
    
    <!--Approach Section-->
    <section class="approach-section" style="background-image:url(images/background/2.jpg)">
        <div class="upper-box" style="background-image:url(images/background/1.jpg)">
            <div class="auto-container">
                <div class="title">We Are help reach your dream  </div>
                <h2>Loans</h2>
                <div class="quality"> Quality Service</div>
            </div>
        </div>
        
        <div class="auto-container">
            <div class="blocks-section">
                <div class="row clearfix">
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-employee"></span>
                            </div>
                            <h3><a href="surity_loan.html">SURITY LOAN</a></h3>
                            <div class="overlay-box" style="background-image:url(images/resource/.jpg)">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-employee"></span>
                                    </div>
                                    <h4><a href="surity_loan.html">SURITY LOAN</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-money"></span>
                            </div>
                            <h3><a href="gold_loan.html">GOLD LOAN</a></h3>
                            <div class="overlay-box" style="background-image:url(images/resource/service-1.jpg)">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-money"></span>
                                    </div>
                                    <h4><a href="gold_loan.html">GOLD LOAN</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-line-chart"></span>
                            </div>
                            <h3><a href="deposit_loan.html">DEPOSIT LOAN</a></h3>
                            <div class="overlay-box" style="background-image:url(images/resource/service-1.jpg)">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-employee"></span>
                                    </div>
                                    <h4><a href="deposit.html">DEPOSIT LOAN</a></h4>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-pen"></span>
                            </div>
                            <h3><a href="vehicle_loan.html">VEHICLE LOAN</a></h3>
                            <div class="overlay-box" style="background-image:url(images/resource/service-1.jpg)">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-truck"></span>
                                    </div>
                                    <h4><a href="vehicle_loan.html">VEHICLE LOAN</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-meeting"></span>
                            </div>
                            <h3><a href="cashCredit_loan.html">CASH CREDIT LOAN</a></h3>
                            <div class="overlay-box" style="background-image:url(images/resource/service-1.jpg)">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-meeting"></span>
                                    </div>
                                    <h4><a href="cashCredit_loan.html">CASH CREDIT LOAN</a></h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-bank-1"></span>
                            </div>
                            <h3><a href="housing_loan.html">HOUSING LOAN</a></h3>
                            <div class="overlay-box" style="background-image:url(images/resource/service-1.jpg)">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-employee"></span>
                                    </div>
                                    <h4><a href="housing_loan.html">HOUSING LOAN</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                      <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-line-chart"></span>
                            </div>
                            <h3><a href="mortgage_loan.html">LAND MORTGAGE LOAN</a></h3>
                            <div class="overlay-box" style="background-image:url(images/resource/service-1.jpg)">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-employee"></span>
                                    </div>
                                    <h4><a href="mortgage_loan.html">LAND MORTGAGE LOAN</a></h4>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        

    
    
    
    <!--News Section Two-->
    <section class="news-section-two">
        <div class="auto-container">
            <div class="sec-title">
                <div class="title">REcent Blogs</div>
                <h2>Our Latest News</h2>
            </div>
            <div class="two-item-carousel owl-carousel owl-theme">

                <!--News Block Two-->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <!--Image Column-->
                            <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                <div class="image">
                                    <img src="images/resource/news-4.jpg" alt="" />
                                    <a href="blog-detail.html" class="overlay-box">
                                        <span class="icon fa fa-link"></span>
                                    </a>
                                    <div class="post-date"><span>feb</span> 13</div>
                                </div>
                            </div>
                            <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                <div class="content-inner">
                                    <h3><a href="blog-detail.html">Wealth building tips for modern day.</a></h3>
                                    <div class="text">Your design goals will be outlined and occupancy objectives will be discussed.</div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="blog-detail.html"><span class="icon fa fa-commenting-o"></span>04  Comments</a></li>
                                        <li class="read-more pull-right"><a href="blog-detail.html">Read More <span class="fa fa-angle-double-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <!--Image Column-->
                            <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                <div class="image">
                                    <img src="images/resource/news-5.jpg" alt="" />
                                    <a href="blog-detail.html" class="overlay-box">
                                        <span class="icon fa fa-link"></span>
                                    </a>
                                    <div class="post-date"><span>mar</span> 15</div>
                                </div>
                            </div>
                            <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                <div class="content-inner">
                                    <h3><a href="blog-detail.html">Wealth building tips for modern day.</a></h3>
                                    <div class="text">Your design goals will be outlined and occupancy objectives will be discussed.</div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="blog-detail.html"><span class="icon fa fa-commenting-o"></span>04  Comments</a></li>
                                        <li class="read-more pull-right"><a href="blog-detail.html">Read More <span class="fa fa-angle-double-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <!--Image Column-->
                            <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                <div class="image">
                                    <img src="images/resource/news-4.jpg" alt="" />
                                    <a href="blog-detail.html" class="overlay-box">
                                        <span class="icon fa fa-link"></span>
                                    </a>
                                    <div class="post-date"><span>feb</span> 13</div>
                                </div>
                            </div>
                            <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                <div class="content-inner">
                                    <h3><a href="blog-detail.html">Wealth building tips for modern day.</a></h3>
                                    <div class="text">Your design goals will be outlined and occupancy objectives will be discussed.</div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="blog-detail.html"><span class="icon fa fa-commenting-o"></span>04  Comments</a></li>
                                        <li class="read-more pull-right"><a href="blog-detail.html">Read More <span class="fa fa-angle-double-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
                <div class="news-block-two">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <!--Image Column-->
                            <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                <div class="image">
                                    <img src="images/resource/news-5.jpg" alt="" />
                                    <a href="blog-detail.html" class="overlay-box">
                                        <span class="icon fa fa-link"></span>
                                    </a>
                                    <div class="post-date"><span>mar</span> 15</div>
                                </div>
                            </div>
                            <div class="content-column col-md-6 col-sm-6 col-xs-12">
                                <div class="content-inner">
                                    <h3><a href="blog-detail.html">Wealth building tips for modern day.</a></h3>
                                    <div class="text">Your design goals will be outlined and occupancy objectives will be discussed.</div>
                                    <ul class="post-meta clearfix">
                                        <li><a href="blog-detail.html"><span class="icon fa fa-commenting-o"></span>04  Comments</a></li>
                                        <li class="read-more pull-right"><a href="blog-detail.html">Read More <span class="fa fa-angle-double-right"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End News Section-->
    
    
    <!--Report Section-->
    <section class="report-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <div class="title">Statistics Groth</div>
                            <h2>Annual Report</h2>
                        </div>
                    </div>
                    <div class="bold-text">Some statistics on the growth of crypto currency <br> bitcoin in the last</div>
                    <div class="text">Borrowers can expect savings, but the banks aren’t required to give them today’s rock-bottom rates. Under the settlement, the new rate must be at least 0.25 percentage point</div>
                </div>
                <!--Graph Column-->
                <div class="graph-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image">
                            <img src="images/resource/graph.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Report Section-->
    
   
    <!--Map Info Section-->
    <section class="map-section">
        
        <!--Map Canvas-->
        <div class="map-canvas"
            data-zoom="12"
            data-lat="-37.817085"
            data-lng="144.955631"
            data-type="roadmap"
            data-hue="#ffc400"
            data-title="pcicsputtur"
            data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
        </div>
        
    </section>
    <!--End Map Info Section-->
    
    <!--Message Section-->
    <section class="message-section">
        <div class="image-layer" style="background-image:url(images/background/8.jpg)"></div>
        <div class="auto-container">
            <div class="form-container" style="background-image:url(images/background/9.jpg)">
                <div class="title">Write a Message</div>
                <h2>Have Any Questions?</h2>
                <div class="text">Thank you very much for your interest in our company and our services and <br> if you have any questions, please write us a message now!</div>
                
                <!--Default Form-->
                <div class="default-form">
                    <form method="post" action="contact.html">
                        <div class="row clearfix">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="firstname" value="" placeholder="Your name" required>
                            </div>
                            
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="email" value="" placeholder="Your Email" required>
                            </div>
                            
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <textarea name="message" placeholder="Your Massage"></textarea>
                            </div>
                            
                            <div class="form-group text-center col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="theme-btn message-btn">Send Massage</button>
                            </div>                                        
                        </div>
                    </form>
                </div>
                <!--End Default Form-->
                
            </div>
        </div>
    </section>
    <!--End Message Section-->
    
    <!--Clients Section-->
    <section class="clients-section">
        <div class="auto-container">
            
            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                </ul>
            </div>
            
        </div>
    </section>
    <!--End Clients Section-->